*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image:url(https://images.pexels.com/photos/2310713/pexels-photo-2310713.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-repeat:repeat;
}
.calculator{
    width:320px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 20px;
    box-shadow: var(--shadow);
    border: 1px solid rgba(255, 255, 255, 0.2);
    overflow: hidden;
}
.display{
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    overflow: hidden;

}
.prev-op{
    font-size: 1.2rem;
    color:blanchedalmond;
    height:1.5rem;

}
.curr-op{
    font-size:2.5rem;
    color:white;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;

}
 button 
 {
    height: 60px;
    border: none;
    border-radius: 10px;
    font-size: 1.3rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s;
    color: rgb(108, 106, 163);
}
 button:hover {
    transform: translateY(-2px);
}
button:active {
    transform: scale(0.98);
}
.num{
    background: rgba(red, green, rgba(9, 29, 250, 0.368), alpha);
}
.num:hover{
    background: rgba(205, 95, 95, 0.3);
}
.op{
    background: rgba(235, 81, 81, 0.395);
}
.op:hover{
    background: rgba(255, 255, 255, 0.1);
}
.equals{
    grid-column: span 2;
    background-color: beige;
}
.equals:hover {
    background: #9575cd;
}
.clear, .delete {
    background: rgba(255, 0, 0, 0.3);
}

.clear:hover, .delete:hover {
    background: rgba(255, 0, 0, 0.4);
}

.tcenter{
    text-align: center;
}
.button{
    align-content: center;
}